Repository paul0vinicius/chasing-chairs-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update tsconfig files
  .nvmrc
  apps/backend/package.json
  apps/backend/src/test.ts
  apps/backend/tsconfig.json
  apps/frontend/tsconfig.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

refactor: events be types
  apps/backend/src/index.ts
  apps/backend/src/test.ts
  package-lock.json
  package.json
  packages/shared/clientToServerEvents.types.ts
  packages/shared/index.ts
  packages/shared/package.json
  packages/shared/player.types.ts
  packages/shared/position.types.ts
  packages/shared/serverToClientEvents.types.ts
  packages/shared/tsconfig.json
Due: eslint --fix, prettier --write

refactor: prettier
  .prettierrc
  README.md
  apps/frontend/src/App.tsx
  apps/frontend/src/game/GameComponent.tsx
  apps/frontend/src/game/MainScene.ts
  apps/frontend/src/hooks/useWindowSize.hook.ts
  apps/frontend/src/main.tsx
  apps/frontend/tsconfig.json
  package.json
  packages/shared/clientToServerEvents.types.ts
  packages/shared/position.types.ts
Due: eslint --fix, prettier --write

chore: update deploy configs
  package-lock.json
  package.json
Due: prettier --write

chore: fix frontend deploy configs
  apps/frontend/src/game/MainScene.ts
  apps/frontend/src/main.tsx
  apps/frontend/tsconfig.json
Due: eslint --fix, prettier --write

chore: update be configuration
  apps/backend/tsconfig.json
Due: prettier --write

feat: significant changes on Socket handler
  apps/backend/src/index.ts
  apps/backend/src/room/RoomManager.ts
  apps/backend/src/room/constants.ts
  apps/backend/src/socket-handler/SocketHandler.ts
  apps/frontend/src/game/GameComponent.tsx
  apps/frontend/src/game/MainScene.ts
  apps/frontend/src/game/MenuScene.ts
  apps/frontend/src/game/socket.ts
  packages/shared/chair.types.ts
  packages/shared/clientToServerEvents.types.ts
  packages/shared/index.ts
  packages/shared/room.types.ts
  packages/shared/serverToClientEvents.types.ts
Due: eslint --fix, prettier --write

feat: sync state between players; add menu handling
  apps/backend/src/socket-handler/SocketHandler.ts
  apps/frontend/src/game/MainScene.ts
  apps/frontend/src/game/MenuScene.ts
  eslint.config.mjs
  packages/shared/serverToClientEvents.types.ts
Due: eslint --fix, prettier --write

fix: responsivity issue
  apps/frontend/src/game/GameComponent.tsx
  apps/frontend/src/game/MainScene.ts
  apps/frontend/src/game/MenuScene.ts
Due: eslint --fix, prettier --write

feat: improve sync for press and hold events
  apps/backend/src/socket-handler/SocketHandler.ts
  apps/frontend/src/game/MainScene.ts
  apps/frontend/src/game/MenuScene.ts
  packages/shared/clientToServerEvents.types.ts
  packages/shared/serverToClientEvents.types.ts
Due: eslint --fix, prettier --write

fix: margins and borders for mobile
  apps/frontend/src/game/GameComponent.tsx
  apps/frontend/src/game/MainScene.ts
  apps/frontend/src/game/MenuScene.ts
  apps/frontend/src/hooks/useWindowSize.hook.ts
Due: eslint --fix, prettier --write

fix: size for mobile devices
  apps/frontend/index.html
  apps/frontend/src/game/MainScene.ts
  apps/frontend/src/index.css
Due: eslint --fix, prettier --write

fix: another try to fix the resolution
  apps/frontend/index.html
  apps/frontend/src/game/GameComponent.tsx
  apps/frontend/src/game/MainScene.ts
  apps/frontend/src/index.css
Due: eslint --fix, prettier --write

fix: resolution issue for mobile
  apps/frontend/src/game/GameComponent.tsx
  apps/frontend/src/index.css
Due: eslint --fix, prettier --write

refactor: frontend project
  apps/backend/src/socket-handler/SocketHandler.ts
  apps/frontend/src/game/MainScene.ts
  apps/frontend/src/game/entitites/chair/index.ts
  apps/frontend/src/game/entitites/index.ts
  apps/frontend/src/game/entitites/player/index.ts
  apps/frontend/src/game/managers/index.ts
  apps/frontend/src/game/managers/mazeManager/index.ts
  apps/frontend/src/game/managers/socketHandler/index.ts
  apps/frontend/src/game/managers/uiManager/index.ts
  apps/frontend/src/utils/gridUtils.ts
  apps/frontend/src/utils/index.ts
Due: eslint --fix, prettier --write

feat: add scoreboard
  apps/backend/src/room/constants.ts
  apps/backend/src/socket-handler/SocketHandler.ts
  apps/frontend/src/game/MainScene.ts
  apps/frontend/src/game/managers/index.ts
  apps/frontend/src/game/managers/scoreboardManager/index.ts
  packages/shared/clientToServerEvents.types.ts
  packages/shared/player.types.ts
Due: eslint --fix, prettier --write

fix: several small bugs
  apps/backend/src/room/RoomManager.ts
  apps/backend/src/socket-handler/SocketHandler.ts
  apps/frontend/src/game/MainScene.ts
  apps/frontend/src/game/entitites/chair/index.ts
  apps/frontend/src/game/entitites/player/index.ts
  apps/frontend/src/game/managers/mazeManager/index.ts
  apps/frontend/src/game/managers/socketHandler/index.ts
  apps/frontend/src/game/managers/uiManager/index.ts
  packages/shared/room.types.ts
  packages/shared/serverToClientEvents.types.ts
Due: eslint --fix, prettier --write

feat: add room size
  apps/backend/src/room/RoomManager.ts
  apps/backend/src/socket-handler/SocketHandler.ts
  apps/frontend/src/game/MenuScene.ts
  packages/shared/clientToServerEvents.types.ts
  packages/shared/room.types.ts
Due: eslint --fix, prettier --write

feat: add play again logic and rounds number
  apps/backend/src/room/RoomManager.ts
  apps/backend/src/socket-handler/SocketHandler.ts
  apps/frontend/src/game/MainScene.ts
  apps/frontend/src/game/MenuScene.ts
  apps/frontend/src/game/managers/socketHandler/index.ts
  apps/frontend/src/game/managers/uiManager/index.ts
  packages/shared/clientToServerEvents.types.ts
  packages/shared/player.types.ts
  packages/shared/room.types.ts
  packages/shared/serverToClientEvents.types.ts
Due: eslint --fix, prettier --write

fix: missing property
  apps/backend/src/room/constants.ts
Due: eslint --fix, prettier --write

feat: karen's sprite
  apps/frontend/public/assets/chars/karen/01_karen_down_0.png
  apps/frontend/public/assets/chars/karen/02_karen_down_1.png
  apps/frontend/public/assets/chars/karen/03_karen_down_2.png
  apps/frontend/public/assets/chars/karen/04_karen_left_0.png
  apps/frontend/public/assets/chars/karen/05_karen_left_1.png
  apps/frontend/public/assets/chars/karen/06_karen_left_2.png
  apps/frontend/public/assets/chars/karen/07_karen_right_0.png
  apps/frontend/public/assets/chars/karen/08_karen_right_1.png
  apps/frontend/public/assets/chars/karen/09_karen_right_2.png
  apps/frontend/public/assets/chars/karen/10_karen_up_0.png
  apps/frontend/public/assets/chars/karen/11_karen_up_1.png
  apps/frontend/public/assets/chars/karen/12_karen_up_2.png
  apps/frontend/public/assets/chars/karen/13_karen_sit_0.png
  apps/frontend/public/assets/chars/karen/14_karen_sit_1.png
  apps/frontend/public/assets/chars/karen/15_karen_sit_2.png
  apps/frontend/public/assets/chars/karen/16_karen_wins_0.png
  apps/frontend/public/assets/chars/karen/16_karen_wins_1.png
  apps/frontend/public/assets/chars/karen/16_karen_wins_2.png
  apps/frontend/public/assets/chars/karen/17_karen_dance_0.png
  apps/frontend/public/assets/chars/karen/18_karen_dance_1.png
  apps/frontend/public/assets/chars/karen/19_karen_dance_2.png
  apps/frontend/public/assets/chars/karen/karen.png
  apps/frontend/public/assets/chars/karen/sprite_sheet_karen.png
  apps/frontend/src/game/MainScene.ts
  apps/frontend/src/game/entitites/player/index.ts
  apps/frontend/src/game/managers/animationManager/index.ts
  apps/frontend/src/game/managers/assetsManager/index.ts
  apps/frontend/src/game/managers/index.ts
Due: eslint --fix, prettier --write

feat: sync dance moves
  apps/backend/src/socket-handler/SocketHandler.ts
  apps/frontend/src/game/MainScene.ts
  apps/frontend/src/game/entitites/player/index.ts
  packages/shared/room.types.ts
Due: eslint --fix, prettier --write

fix: initialization var
  apps/backend/src/room/RoomManager.ts
Due: eslint --fix, prettier --write

fix: add dance verification
  apps/frontend/src/game/MainScene.ts
Due: eslint --fix, prettier --write

feat: backgrounds, walls and chair sprites
  apps/backend/src/room/RoomManager.ts
  apps/backend/src/socket-handler/SocketHandler.ts
  apps/frontend/index.html
  apps/frontend/public/assets/background/desert_bg.png
  apps/frontend/public/assets/background/garden_bg.jpg
  apps/frontend/public/assets/background/golden_tiles_bg.png
  apps/frontend/public/assets/background/grass_bg.png
  apps/frontend/public/assets/background/mud_terrain_bg.png
  apps/frontend/public/assets/items/chair.png
  apps/frontend/public/assets/maze/wall.png
  apps/frontend/public/assets/ui/game_over_bg.jpg
  apps/frontend/public/assets/ui/menu_bg.jpg
  apps/frontend/public/karen.png
  apps/frontend/public/vite.svg
  apps/frontend/src/game/GameComponent.tsx
  apps/frontend/src/game/MainScene.ts
  apps/frontend/src/game/entitites/chair/index.ts
  apps/frontend/src/game/entitites/player/index.ts
  apps/frontend/src/game/managers/assetsManager/index.ts
  apps/frontend/src/game/managers/mazeManager/index.ts
  packages/shared/room.types.ts
Due: eslint --fix, prettier --write

feat: add back game instance
  apps/frontend/index.html
Due: none

chore: banner size
  apps/frontend/index.html
  apps/frontend/public/assets/meta/og-banner.png
Due: none

fix: ios notch
  apps/frontend/index.html
  apps/frontend/src/index.css
Due: prettier --write

feat: add manifest.json
  apps/frontend/public/assets/meta/icon-512-512.png
  apps/frontend/public/manifest.json
Due: prettier --write

feat: add manifest.json
  apps/frontend/index.html
Due: none

feat: cover all the available area
  apps/frontend/src/index.css
Due: prettier --write

feat: add more mobile settings
  apps/frontend/index.html
  apps/frontend/src/index.css
Due: prettier --write

feat: cover all the available area
  apps/frontend/src/game/GameComponent.tsx
Due: eslint --fix, prettier --write

feat: cover all the available area
  apps/frontend/src/game/GameComponent.tsx
  apps/frontend/src/index.css
Due: eslint --fix, prettier --write

debug: testing husky
  apps/frontend/src/index.css
Due: prettier --write

fix: cover notch
  apps/frontend/index.html
Due: none

fix: try cover notch
  apps/frontend/index.html
  apps/frontend/src/index.css
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,mjs,ts,tsx}) or (any of: apps/**/*.{ts,tsx})
  prettier --write: ((any of: *.{js,mjs,ts,tsx}) or (any of: apps/**/*.{ts,tsx})) or (any of: **/*.{json,md,css})
